<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/
Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="department" frontName="department">
            <module name="Aht_Custom" />
        </route>
        <route id="employee" frontName="employee">
            <module name="Aht_Custom" />
        </route>
    </router>
</config>